@model ProfileViewModel
@{
    ViewData["Title"] = "Профиль";
}

@using System.Security.Claims

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->

    <link rel="stylesheet" type="text/css" href="~/css/profile.css">
    <link rel="stylesheet" type="text/css" href="~/css/mainpage.css">
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
    <link rel="stylesheet" type="text/css" href="~/css/util.css">

    <style>
        * {
            margin: 0px;
            padding: 0px;
        }

        html, body {
            height: 100%;
        }

        #middle {
            display: table;
            width: 100%;
            height: 100%;
            margin-top: 10px;
        }

        #content {
            display: table-cell;
            vertical-align: top;
            width: 20%;
            background: rgb(80,80,80);
        }

        #sidebar {
            display: table-cell;
            width: 80%;
            background: rgba(80,80,80,0.5);
        }

        .round {
            border-radius: 100px;
            border: 3px solid white;
            box-shadow: 0 0 7px #666;
        }

        #post {
            width: 80%;
            height: fit-content;
            border: 2px solid black;
            position: relative;
            margin: 5px auto 5px;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
            font-family: 'Century Gothic';
        }

            #post .posttitle {
                color: white;
                background: gray;
                width: -webkit-fill-available;
                height: auto;
                border-style: solid;
                border-color: gray;
                text-align: center;
                font-family: 'Century Gothic';
                border-top-left-radius: 12px;
                border-top-right-radius: 12px;
                font-size: 16px;
            }

            #post .postmessage {
                text-align: left;
                font-size: 12px;
                background: gray;
                color: #000;
                font-weight: bold;
                display: flex;
                word-break: break-all;
                margin: 3px 3px 3px 3px;
            }

        .postmessageimg {
            max-height: 250px;
            max-width: 250px;
        }
    </style>
</head>

<header class="titleheader" style="min-width: 100%; min-height: 100%;">
    <form>
        <div class="form-inline form-group">
            <label class="title" style="margin-right: 20px;">Twitter navernoye</label>
            @if (User.IsInRole("admin"))
            {
                <a class="logout" asp-action="main" asp-controller="home" style="margin-left: 3px;"><span class="entypo-vcard"></span></a>
            }
            else
            {
                <a class="logout" asp-action="userlist" asp-controller="home" style="margin-left: 3px;"><span class="entypo-vcard"></span></a>
            }
            <a class="logout" asp-action="profile" asp-controller="home" style="margin-left: 3px;"><span class="entypo-user"></span></a>
            <a class="logout" asp-action="ProfileEdit" asp-controller="home" asp-route-id="@(User.FindFirst(x => x.Type == ClaimTypes.SerialNumber).Value)" style="margin-left: 3px"><span class="entypo-cog"></span></a>
            <a class="logout" asp-action="logout" asp-controller="acc"><span class="entypo-logout"></span></a>
        </div>
    </form>
</header>

<body style="min-width: 100%; min-height: 100%;">
    <div id="middle">
        @foreach (var item in Model.users.Where(p => p._ID == ViewBag.ShowUserID))
        {
            <section id="content">
                <div style="width: 100px; height: 100px; display: inline-block;">
                    <div class="container">
                        <img class="round" style="content: url('@item._imgpath')">
                    </div>
                    <div>
                        @if (item.RoleId == 1)
                        {
                            <p class="labelprofile" style="color: white">Админ</p>
                        }
                        @if (item.RoleId == 2)
                        {
                            <p class="labelprofile" style="color: white">Пользователь</p>
                        }
                    </div>
                    <div>
                        <p class="pprofile" style="color: white; width: 210px">Логин: @item._login</p>
                        <p></p>
                    </div>
                    <div>
                        <p class="pprofile" style="color: white; width: 210px ">Дата регитсрации: @item._regday</p>
                        <p></p>
                    </div>
                    <div>
                        <p class="pprofile" style="color: white; width: 210px ">Почта: @item._EMail</p>
                        <p></p>
                    </div>
                    <div>
                        <p class="pprofile" style="color: white; width: 210px ">ФИО: @item._Fam @item._Name @item._Surname</p>
                        <p></p>
                    </div>
                    <div>
                        <p class="pprofile" style="color: white; width: 220px ">Описание: @item._Description</p>
                        <p></p>
                    </div>
                </div>
            </section>
        }
        <aside id="sidebar">
            <div>
                <div class="form-inline form-check form-group">
                    <label class="labelprofile form-inline">Посты: </label>
                </div>
                @foreach (var item in Model.posts.Where(p => p.UserID == ViewBag.ShowUserID))
                {
                    <div id="post" style="background: gray;">
                        <div class="posttitle" style="height: fit-content; background: gray; height: fit-content; text-align: center; color: wheat; word-break: break-word">
                                @item.Title
                        </div>
                        <div class="postmessage">
                            @item.Message
                        </div>
                        @if (item.img1 != null || item.img2 != null || item.img3 != null || item.img4 != null || item.img5 != null)
                        {
                            <div class="postmessage">
                                <p style="color: black;"><u>Приложенные фотографии:</u></p>
                            </div>

                            <div class="form-inline form-group" style="background: gray">
                                @if (item.img1 != null)
                                {
                                    <img class="postmessageimg form-inline" style="content: url(@item.img1); margin: 0 5px 0 5px">
                                }
                                @if (item.img2 != null)
                                {
                                    <img class="postmessageimg form-inline" style="content: url(@item.img2); margin: 0 5px 0 5px">
                                }
                                @if (item.img3 != null)
                                {
                                    <img class="postmessageimg form-inline" style="content: url(@item.img3); margin: 0 5px 0 5px">
                                }
                                @if (item.img4 != null)
                                {
                                    <img class="postmessageimg form-inline" style="content: url(@item.img4); margin: 0 5px 0 5px">
                                }
                                @if (item.img5 != null)
                                {
                                    <img class="postmessageimg form-inline" style="content: url(@item.img5); margin: 0 5px 0 5px">
                                }
                            </div>
                        }
                    </div>
                }
            </div>
        </aside>
    </div>


    <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>

    <script src="~/vendor/animsition/js/animsition.min.js"></script>

    <script src="~/vendor/bootstrap/js/popper.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="~/vendor/select2/select2.min.js"></script>

    <script src="~/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/vendor/daterangepicker/daterangepicker.js"></script>

    <script src="~/vendor/countdowntime/countdowntime.js"></script>

    <script src="~/js/main.js"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-23581568-13');
    </script>
    <script defer src="https://static.cloudflareinsights.com/beacon.min.js" data-cf-beacon='{"rayId":"696cb7772a3d1630","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2021.9.0","si":100}'></script>
</body>